<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
<<<<<<< HEAD
    <h1>This is a Header</h1>
=======

    <h1>This is a Header</h1>

    <p>this is a paragraph</p>
    
>>>>>>> f7d2336bdbf99970f94f3241f8d324640fb28cc2
    </body>
</html>